<div class="container-fluid pt-sans-font my-page">
    <div class="row" id="about">
        <div class="col-md-3 page-title-text my-about-project-page-title text-uppercase">{{trans.aboutProjectPageTitle}}</div>
        <div class="d-none d-md-flex col-md-9 my-arrows my-arrows-grey"></div>
    </div>
    <div class="row" id="myEventsRow">
        <div class="d-none d-sm-block col-sm-3 my-wave">
            <img src="../images/wave-grey.svg" alt="">
        </div>
        <div class="col-sm-8 col-md-4">
            <p class="d-block d-sm-none about-second-para-title text-uppercase">{{trans.aboutSecondParaTitle}}</p>
            <p class="about-first-para-text">{{trans.aboutFirstParaText}}</p>
        </div>
        <div class="d-none d-md-block col-md-1"><img src="../images/pers-6.svg" alt="galstuk" id="imgPersGalstuk"></div>
        <div class="d-none d-md-block col-md-4 my-del-padding" id="imgKettleDiv"><img src="../images/kettle.svg" alt="kettle" id="imgKettle"></div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-2 my-del-padding"><img src="../images/pers-1.svg" alt="" id="imgPersKudr"></div>
        <div class="d-none d-md-block col-md-2 my-del-padding"><img src="../images/pers-2.svg" alt="" id="imgPersSharf"></div>
        <div class="d-none d-lg-block col-lg-1 my-del-padding"><img src="../images/pers3-4.svg" alt="" id="imgPersGirlOne"></div>
        <div class="d-none d-lg-block col-lg-1 my-del-padding"><img src="../images/pers3-4.svg" alt="" id="imgPersGirlTwo"></div>
        <div class="d-md-block d-lg-none col-md-2 my-del-padding"></div>
        <div class="col-sm-8 col-md-5 col-xxl-4 about-second-para">
            <div class="about-second-para">
                <p class="d-none d-sm-block about-second-para-title text-uppercase">{{trans.aboutSecondParaTitle}}</p>
                <p class="about-second-para-text">{{trans.aboutSecondParaText}}</p>
            </div>
        </div>
        <div class="d-none d-md-block col-md-1 col-xxl-2"><img src="../images/pers-5.svg" alt="" id="imgPersGlasses"></div>
    </div>
</div>
