<div class="container-fluid pt-sans-font my-page">
    <div class="row" id="events">
        <div class="col-md-3 my-schedule-page-title page-title-text text-uppercase">{{trans.schedulePageTitle}}</div>
        <div class="d-none d-md-flex col-md-9 my-arrows my-arrows-blue"></div>
    </div>
    <div class="row" id="myAboutFirstRow">
        <div class="d-none d-sm-block col-sm-3 my-wave">
            <img src="../images/wave-blue.svg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="d-none d-md-flex col-md-3 events-hint events-geo-hint text-uppercase">{{trans.eventsGeoHint}}</div>
        <div class="d-flex col-12 col-md-9 justify-content-center justify-content-md-start events-geo-name text-uppercase"> {{geolocation}} </div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-3 events-hint events-time-hint text-uppercase">{{trans.eventsTimeHint}}</div>
        <div class="col-12 col-md-5 events-time-text text-uppercase d-flex">
            <a class="month-scroll" href="{{scroll.first.link}}">{{scroll.first.name}}</a>
            <span>|</span>
            <a class="month-scroll month-scroll-active" href="{{scroll.second.link}}">{{scroll.second.name}}</a>
            <span>|</span>
            <a class="month-scroll" href="{{scroll.third.link}}">{{scroll.third.name}}</a>
            <span>|</span>
            <a class="month-scroll" href="{{scroll.fourth.link}}">{{scroll.fourth.name}}</a>
        </div>
    </div>
    {{#if proj}}
        <div class="row">
            <div class="d-none d-md-block col-md-3 events-hint events-project-hint text-uppercase">{{trans.eventsProjectHint}}</div>
                <div class="col-12 col-md-8 events-project">
                    <p class="d-flex events-project-title  justify-content-center justify-content-md-start">
                        {{#if ru}}
                            <span class="d-md-none">Проект «</span>{{proj.title.ru}}<span class="d-md-none">»</span>
                        {{else}}
                            <span class="d-md-none">Project «</span>{{proj.title.en}}<span class="d-md-none">»</span>
                        {{/if}}
                        <br>
                    </p>
                    <p class="events-project-description">
                        {{#if ru}}
                            {{proj.description.ru}}
                        {{else}}
                            {{proj.description.en}}
                        {{/if}}
                    </p>
                </div>
        </div>
    {{else}}
        <div class="row col-12 events-event-empty-row"></div>
        <div class="row">
            <div class="d-none d-md-flex col-md-3 events-hint events-create-project-hint text-uppercase">{{trans.eventsCreateProjectHint}}</div>
            <div class="d-flex col-12 col-md-9 justify-content-center justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg events-create-project-button" data-bs-toggle="modal" data-bs-target="#proposeProject">{{trans.propose}}</button>
            </div>
        </div>
    {{/if}}
    {{#if evs.length}}
        <div class="row">
            <div class="d-none d-md-block col-md-3 events-hint events-events-hint text-uppercase">{{trans.eventsEventsHint}}</div>
            <div class="col-12 col-md-9 events-events-text">
                {{#each evs}}
                    <div>
                        {{#if ../ru}}
                            <div class="events-event-title col-12">
                                <span class="events-event-title-date">
                                    {{this.dateToShow}}|
                                </span>
                                <span class="text-uppercase events-event-title-title">
                                    {{this.title.ru}}
                                    {{#if this.speakerExists}}
                                        |
                                    {{/if}}
                                </span>
                                {{#if this.speakerExists}}
                                    <span class="events-event-title-speaker">
                                        {{this.speaker.ru}}
                                    </span>
                                {{/if}}
                            </div>
                            <div class="col-12 row events-event-description">
                                <div class="col-2 col-md-1 events-event-description-time my-del-padding">
                                    {{this.time}}
                                </div>
                                <div class="col-10 events-event-description-text">
                                    {{this.description.ru}}
                                </div>
                            </div>
                        {{else}}
                            <div class="events-event-title col-12">
                                <span class="events-event-title-date">
                                    {{this.dateToShow}}|
                                </span>
                                <span class="text-uppercase events-event-title-title">
                                    {{this.title.en}}
                                    {{#if this.speakerExists}}
                                        |
                                    {{/if}}
                                </span>
                                {{#if this.speakerExists}}
                                    <span class="events-event-title-speaker">
                                        {{this.speaker.en}}
                                    </span>
                                {{/if}}
                            </div>
                            <div class="col-12 row events-event-description">
                                <div class="col-2 col-md-1 events-event-description-time my-del-padding">
                                    {{this.time}}
                                </div>
                                <div class="col-10  events-event-description-text">
                                    {{this.description.en}}
                                </div>
                            </div>
                        {{/if}}
                        <div class="col-12 events-event-empty-row"></div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if proj}}
        <div class="row">
            <div class="d-none d-md-flex col-md-3 events-hint events-create-event-hint text-uppercase">{{trans.eventsCreateEventHint}}</div>
            <div class="d-flex col-12 col-md-9 justify-content-center justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg events-create-event-button" data-bs-toggle="modal" data-bs-target="#proposeEvent">{{trans.propose}}</button>
            </div>
        </div>
        <div class="col-12 events-event-empty-row"></div>

    {{/if}}
</div>